<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zi.elmedico">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UserActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Findhospitals"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".FindDoctors" />
        <activity android:name=".Bookappointment" />
        <activity android:name=".Prescriptions" />
        <activity
            android:name=".ListDataActivity"
            android:label="@string/title_activity_list_data"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".EditUpdate" />
        <activity android:name=".Reports"></activity>
    </application>

</manifest>